<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Masarify uses your photo library to attach receipts and documents to transactions.</string>
	<key>NSCameraUsageDescription</key>
	<string>Masarify uses the camera to capture receipts for your transactions.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Masarify uses Face ID to protect your financial data.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.lightfeather.masarify</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>masarify</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
